<div class="col-md-4 col-md-offset-4">
  <h2 class="tweetCommentTitle">Edit Comment</h2>
  <div class="form-group">
    <%= form_for [@tweet,@comment] do |f| %>
      <div>
        <%= f.text_area :body, placeholder: "Comment Body", size:"60x10", class:"form-control" %>
      </div>
      <%= f.submit "Submit", formaction: comment_update_path(@tweet,@comment), class:"btn btn-primary editTweetCommentButton" %>
    <% end %>
  </div>
</div>
