<h1>Comment on Tweet!</h1>
<div class="col-md-6 col-md-offset-3">
  <h4>New Comment for:<br> <%=@tweet.title%></h4>
  <div class="form-group">
    <%= form_for @comment do |f| %>
      <div>
        <%= f.text_area :body, placeholder: "Comment Body", size:"60x10", class:"form-control" %>
      </div>
      <br>
      <div>
      <%= f.submit "Submit", class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
