<%= form_for @tweet do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :body, placeholder: "Body", size: "60x12" %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
