<hr>
<h1 class="tweetsIndex">Index of Tweets</h1>

<% if current_user != @user %>
  <%= @user.tweets.each do |tweet| %>
    <%= render 'tweets/show', tweet: tweet %>
  <% end %>
<% end %>

<% if @following %>
  <% @following.each do |f| %>
    <% f.tweets.each do |tweet| %>
      <%= render 'tweets/show', tweet: tweet %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.id == @user.id %>
  <%= link_to "Post New Tweet", new_tweet_path(current_user) %>
<% end %>
