<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.username %></h1>
    </section>
    <section class="stats">
      <% if @users %>
        <div class="user_avatars">
          <p>You are following <%= @users.count %> users: </p>
          <% @users.each do |user| %>
            <strong><%= link_to user.username, user %></strong>
            Tweet count: <%= user.tweets.count %> </br>
          <% end %>
          <br>
        </div>
      <% end %>
    </section>
  </aside>
</div>
