/*
 *= require foundation
 *= require foundation.min.css
 *= require app
 *= require_self
 *= require_tree .
 */
#map{
  color: black;
}
 $menu-color: rgba(52,65,70,1);
 $duck-color: rgba(241, 196, 15,1);
.flash {
  background-color: rgba(52,65,70,0.9);
  margin: auto;
  width: 100%;
  text-align: center;
  color: $duck-color;
}
 .top-bar, .top-bar ul {
   background-color: $menu-color;
   color: $duck-color;
 }

 .top-bar a {
   color: $duck-color;
 }

 .button {
   background-color: $menu-color;
 }

 .button:hover {
   background-color: $duck-color;
 }

 .delete-button {
   background-color: #e74c3c;
 }

 .delete-button:hover{
   background-color: #c0392b;
 }

 .sign-up-form {
   width: 100%;
   margin-top: 10%;
 }

.topbar-section {
  background-color: rgba(52,65,70,1);
  padding: 0;
}

.top-bar-left{
  background-color: rgba(52,65,70,1);
}

.duck {
  width: 30px;
  margin: 0px;
}
.newDuck{
  width: 380px;
  margin-left: 15%;
  margin-top: -20%;
}
.quackerTitle{
  text-align: center;
}
.textfield{
  border-color: $menu-color;
}
.textfield:hover{
  border-color: $duck-color;
}
.row {
  margin-left: 20%auto;
  margin-right: 20%auto;
}
.columns {
  flex: auto;
  width: 300px;
  height: 200px;

}
.photo-tag {
  width: 100px;
  height: 100px;
}
html.turbolinks-progress-bar::before {
  background-color: $duck-color !important;
  height: 7px !important;
}
