
.callout{
  border: 0;
}
.pagination a{
  display: inline;;
}
.pagination{
  text-align: center;
}
.tweetCommentTitle{
  text-align: center;
}
.tweetCommentButton{
  margin-left: 48%;
  margin-top: 1%;
}
.editTweetCommentButton{
  margin-left: 48%;
  margin-top: 3%;
}
#comment_body{
  max-width: 26%;
  margin-left: 37%;
  margin-bottom: -2%
}
#tweet_body{
  max-width: 26%;
  margin-left: 37%;
  margin-bottom: -2%
}
.newTweetTitle{
  text-align: center;
}
.postTweetSubmitButton{
  margin-left: 41%;
  width: 17%;
}
#tweet_full_street_address{
  margin-left: 37%;
  margin-bottom: 1%;
  width: 26%;
}
#tweet_title{
  margin-left: 37%;
  margin-bottom: 1%;
  width: 26%;
}
#tweet_longitude{
  margin-left: 37%;
  margin-bottom: 0%;
  width: 26%;
}
#tweet_latitude{
  margin-left: 37%;
  margin-bottom: 1%;
  width: 26%;
}
.tweet-panel {
    border-radius: 5px;
    border: 1.5px solid rgba(52,65,70,0.5);;
    padding: 15px;
    margin-top: 30px;
}
.tweetrow {
  width: 50%;
  margin: 0 25% 0;
}
.new-tweet {
  float: right;
}
.tweet-body {
  /*border-style: dotted;*/
  width: 300px;
  margin-left: 30%;
  margin-top: -20%;
  min-height: 150px;
}
.tweet-user {
  /*border-style: dotted;*/
  width: 150px;
}
.blog-post {
  min-height: 250px;
  width: 600px;
}
.like-dislike{
  float: right;
}
