/*
.medium-3.column#search-bar{
  margin-left: 70%;
  margin-top: -185px;
  margin-bottom: 110px;
}
.medium-8.column#user-profile-info{
  margin-right: 60%;
}*/
#edit-user-info {
  margin-top: 40px;
  margin-left: 35%;
}

/********************sign in form style***************************/
.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 42%;
}
.prefix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875em;
  line-height: 2.3125em;
}
span.prefix, label.prefix {
  background: #f2f2f2;
  border-color: #d9d9d9;
  border-right: none;
  color: #333;
}
.columns {
  position: relative;
}
.large-6 {
  margin-left: 26%;
}
.sign-in-button {
  margin-left: 42%;
}
/********************end sign in form style***************************/
.profile-card .button-group .button {
  margin-top: 20px;
}

.small-12.large-4.columns{
  max-height: 128px;
}

@media only screen and (max-width: 767px) {
  .button {
    display: inline-block;
  }
}

.users-page {
  width: 300px;
}
.current_city {
  min-height: 30px;
}
