
.medium-3.column#search-bar{
  margin-left: 70%;
  margin-top: -185px;
  margin-bottom: 110px;
}
.medium-8.column#user-profile-info{
  margin-right: 60%;
}
img{
  margin-top: 20px;
}
.editUserInfo{
  max-width: 26%;
  margin-left: 37%;
}
